// Colors
$text-color: #383f48;
$text-color1: #464c54;
$black: rgb(30, 30, 42);
$blue: #336399;
$light-blue: #66a7ff;
$pink: #ff64a4;
$white: #fff;
$bg-gray: #f2f3f5;
$bg-dark-blue: #2f3740;
$bg-dark-blue1: #404b57;
$bg-dark-blue2: #353e48;
$light-gray: #9ca7ba;
$header-height: 80px;
// Breakpoint Variables, same as Ant Design
$xs: 576px;
$sm: 768px;
$md: 992px;
$lg: 1200px;
$xl: 1600px;
